:root {
    --softCyan: hsl(174, 77%, 80%);
    --strongCyan: hsl(174, 86%, 45%);
    --grayRed: hsl(14, 92%, 95%);
    --lightRed: hsl(15, 100%, 70%);
    --paleBlue:  hsl(226, 100%, 87%);
    --veryPaleBlue: hsl(230, 100%, 99%);
    --lgrayBlue: hsl(224, 65%, 95%);
    --lgrayishBlue: hsl(223, 50%, 87%);
    --grayBlue: hsl(225, 20%, 60%);
    --darkBlue: hsl(227, 35%, 25%);
    --toggleWidth: 50px;
    --toggleHeight: 25px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--veryPaleBlue);
    font-family: 'Manrope', sans-serif;
}

.bg {
    position: relative;
}

.bg .main-bg {
    width: 100%;
    height: 50vh;
}

.bg .circles {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.heading {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
}

.main-heading {
    color: var(--darkBlue);
    margin: 0;
}

.sub-heading {
    color: var(--grayBlue);
    margin: 10px 0;
}

.box {
    width: 33%;
    height: auto;
    background-color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    box-shadow: 0 3px 15px 0 var(--lgrayishBlue);
    border-radius: 10px;
}

.info {
    display: flex;
}

.info p {
    color: var(--grayBlue);
    flex-grow: 1;
}

.info .price span {
    color: var(--darkBlue);
    font-size: 2.5rem;
    font-weight: 800;
}

.info .pageviews {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}

.info .price {
    text-align: end;
}

.slider {
    -webkit-appearance: none;
    background: linear-gradient(to right, var(--softCyan) 0%, var(--softCyan) 50%, var(--lgrayBlue) 50%, var(--lgrayBlue) 100%);
    border-radius: 20px;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    /* background-color: red; */
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--strongCyan);
    margin-top: -14px;
    box-shadow: 0 10px 15px 5px var(--softCyan);
    background-image: url('./images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.billing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 1.5rem 0;
}

.billing .text {
    color: var(--grayBlue);
    font-size: 0.9rem;
}

.billing .text:first-child {
    text-align: end;
}

.toggle {
    position: relative;
    display: inline-block;
    width: var(--toggleWidth);
    height: var(--toggleHeight);
    margin: 0 1rem;
}

.toggle .checkbox {
    opacity: 0;   
    width: 0;
    height: 0;
}

.round {
    position: absolute;
    cursor: pointer;
    top: 2px; 
    left: 2px;
    width: 100%;
    height: 100%;
    background-color: var(--lgrayishBlue);
    border-radius: 50px;
}

.round:hover {
    background-color: var(--softCyan);
}

/* Round toggle button */
.round::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(var(--toggleWidth)/2 - 4px);      /* subtract double the top & left px */
    height: calc(var(--toggleHeight) - 4px); 
    background-color: white;
    border-radius: 50%;
    transition: .3s;
}

.checkbox:checked + .round::before {
    transform: translateX(calc(var(--toggleWidth) / 2));
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20px;
    color: var(--lightRed);
    background-color: var(--grayRed);
    border-radius: 40px;
    font-size: 0.7rem;
    margin-left: 10px;
    padding: 0 5px;
}

.discount span:nth-child(1) {
    display: none;
}

hr {
    background-color: var(--lgrayBlue);
    border: none;
    width: 100%;
    height: 1.5px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.description ul {
    color: var(--grayBlue);
    font-size: 0.8rem;
    margin: 1.5rem 0 0 0;
    
}

.description ul li {
    list-style-image: url('./images/icon-check.svg');
    margin: 0.7rem 0 0 0;
}

.description .btn {
    color: var(--paleBlue);
    background-color: var(--darkBlue);
    font-family: inherit;
    cursor: pointer;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    box-sizing: content-box;
    align-self: flex-end;
    transform: translateY(-30%);
}

.description .btn:hover {
    color: white;
}

@media screen and (max-width: 992px) {
    .box {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        height: 120vh;
    }
    .box {
        width: 70%;
        top: 70%;
    }    
    .info {
        display: contents;
    }
    .info .pageviews {
        text-align: center;
        margin: 0 0 2.3rem 0;
        font-size: 0.8rem;
    }
    .info .price {
        order: 1;
        text-align: center;
        margin: 2rem 0 1rem 0;
    }
    .billing {
        order: 2;
        margin: 0.7rem 0 1.5rem 0;
    }
    hr {
        order: 3;
    }
    .description {
        order: 4;
        flex-direction: column;
        align-items: center;
    }
    .discount span:nth-child(1) {
        display: block;
    }
    .discount span:nth-child(2) {
        display: none;
    }
    .discount {
        min-width: 33px;
    }
    .description ul {
        margin-top: .7rem;
        list-style-position: inside;   /* align text with bullet points */ 
    }
    .description ul li {
        text-align: center;
    }
    .description .btn {
        align-self: center;
        transform: translateY(30%);
        margin: 1.5rem 0 0 0;
    }
}

@media screen and (max-width: 576px) {
    .heading {
        top: 20%;
    }
    .main-heading {
        font-size: 1.3rem;
    }
    .sub-heading {
        width: 55%;
        margin: 0.8rem auto 0 auto;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .box {
        width: 75%;
        padding: 1.5rem;
    }
    .billing .text {
        font-size: 0.7rem;
    }
    .description .btn {
        margin-bottom: 1.5rem;
    }
    .toggle {
        width: calc(var(--toggleWidth) * .8);
        height: calc(var(--toggleHeight) * .8);
        min-width: calc(var(--toggleWidth) * .8);
        min-height: calc(var(--toggleHeight) * .8);
    }
    .round::before {
        width: calc(var(--toggleWidth) *.8 /2 - 4px);      /* subtract double the top & left px */
        height: calc(var(--toggleHeight) *.8 - 4px); 
        min-width: calc(var(--toggleWidth) *.8 /2 - 4px);
        min-height: calc(var(--toggleHeight) *.8 - 4px); 
    }
    .checkbox:checked + .round::before {
        transform: translateX(calc(var(--toggleWidth) *.8 / 2));
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}
