:root {
    --softCyan: hsl(174, 77%, 80%);
    --strongCyan: hsl(174, 86%, 45%);
    --grayRed: hsl(14, 92%, 95%);
    --lightRed: hsl(15, 100%, 70%);
    --paleBlue:  hsl(226, 100%, 87%);
    --veryPaleBlue: hsl(230, 100%, 99%);
    --lgrayBlue: hsl(224, 65%, 95%);
    --lgrayishBlue: hsl(223, 50%, 87%);
    --grayBlue: hsl(225, 20%, 60%);
    --darkBlue: hsl(227, 35%, 25%);
    --toggleWidth: 50px;
    --toggleHeight: 25px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--veryPaleBlue);
    font-family: 'Manrope', sans-serif;
}

.bg {
    position: relative;
}

.bg .circles {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.heading {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading {
    color: var(--darkBlue);
    margin: 0;
}

.sub-heading {
    color: var(--grayBlue);
    text-align: center;
    margin: 10px 0;
}

.box {
    width: 33%;
    height: auto;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    box-shadow: 0 0 10px 0 var(--lgrayishBlue);
    border-radius: 10px;
}

.info {
    display: flex;
}

.info p {
    color: var(--grayBlue);
    flex-grow: 1;
}

.info .price span {
    color: var(--darkBlue);
    font-size: 2.5rem;
    font-weight: 800;
}

.info .pageviews {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}

.info .price {
    text-align: end;
}

#slider {
    -webkit-appearance: none;
    background-color: var(--lgrayBlue);
    border-radius: 20px;
}

#slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    color: #13bba4;
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--strongCyan);
    margin-top: -14px;
    box-shadow: 0 10px 15px 5px var(--softCyan);
    background-image: url('./images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.billing {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 3rem 0 2rem 0;
    transform: translateX(-5%);
}

.billing .text {
    color: var(--grayBlue);
    font-size: 0.9rem;
}

.toggle {
    position: relative;
    display: inline-block;
    width: var(--toggleWidth);
    height: var(--toggleHeight);
    /* align-self: center; */
    margin: 0 1rem;
}

.toggle .checkbox {
    opacity: 0;   
    width: 0;
    height: 0;
}

.round {
    position: absolute;
    cursor: pointer;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lgrayishBlue);
    border-radius: 50px;
}

.round:hover {
    background-color: var(--softCyan);
}

/* Round toggle button */
.round::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(var(--toggleWidth)/2 - 4px);      /* subtract double the top & left px */
    height: calc(var(--toggleHeight) - 4px); 
    background-color: white;
    border-radius: 50%;
    transition: .3s;
}

/* .checkbox:checked + .round {
    background-color: ;
} */

.checkbox:checked + .round::before {
    transform: translateX(calc(var(--toggleWidth) / 2));
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 20px;
    color: var(--lightRed);
    background-color: var(--grayRed);
    border-radius: 40px;
    font-size: 0.7rem;
    margin-left: 10px;
}

hr {
    background-color: var(--lgrayBlue);
    border: none;
    width: 100%;
    height: 1.5px;
}






.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}
